{% extends 'base.html.twig' %}

{% block body %}
<div>
    Ready to start
</div>
{#
    {{ if app.getUser() }}
    <div>
        Hallo {{ user.username }}
    </div>
    {{ else }}
    <div>
        Hallo, Stranger
    </div>
    {{ endif }}
    #}
{% endblock %}

{% block stylesheets %}

{% endblock %}
